#####################
#Unreal ignore files#
#####################

*/Build
*/Binaries
*/DeriveddataCache
*/Intermediate
*/Saved
BuildingEscape/Content/StarterContent/

#####################
# VS ignore files   #
#####################

*.sdf

